<div class="col-md-12">
    <div class="alert alert-success text-center">
        <h2 class="alert-heading">CONGRATS!</h2>
        <p>You have guessed the movie @Movie.Name!</p>
        <img src="@Movie.Image" style="width: 25rem;" />
    </div>
</div>

@code {
    [Parameter]
    public GameItem Movie { get; set; }
}
