<div class="text-center">
    <h1 class="display-4">Are you sure you want to log out?</h1>
</div>

<div id="app">
    <div v-if="isLoggedIn" class="text-center">
        <button class="btn btn-danger" v-on:click="logoutUser">Yes, i want to log out</button>
    </div>
</div>

@section scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>

    <script>
        var token = sessionStorage.getItem('jwtToken');

        var app = new Vue({
            el: "#app",
            data: {
                isLoggedIn: true
            },
            methods: {
                logoutUser: function () {
                    var self = this;
                    sessionStorage.removeItem('jwtToken');
                    isLoggedIn: false;

                    window.location.href = `${location.origin}/Home`;
                }
            }
        });
    </script>
}