<div class="text-center">
    <h1 class="display-4">Movies</h1>
</div>

<div id="app">
    <div v-if="isAuthorized" class="row">
        <div class="col-md-12">
            <div class="alert alert-info" v-if="feedback">
                {{feedback}}
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-secondary btn-block w-25" v-on:click.prevent="toEditMode(false)">New</button>
        </div>

        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" v-for="movie in movies" v-on:click="getMovieDetails(movie)">
                    <div class="d-flex w-100 justify-content-between">
                        <h5>
                            {{movie.title}}
                            <small>({{movie.releaseYear}})</small>
                        </h5>
                    </div>
                    <p class="mb-1">{{movie.description}})</p>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <div v-if="currentMovie">
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" v-model="currentMovie.title" v-bind:readonly="isReadOnly" />
                </div>
                <div class="form-group">
                    <label>Release year</label>
                    <input type="number" class="form-control" v-model="currentMovie.releaseYear" v-bind:readonly="isReadOnly" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" v-model="currentMovie.description" v-bind:readonly="isReadOnly" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Genre</label>
                    <input class="form-control" v-if="isReadOnly" v-model="currentMovie.genre.name" v-bind:readonly="isReadOnly" />
                    <select v-else class="form-control" v-model="currentMovie.genre" v-bind:readonly="isReadOnly">
                        <option v-for="genre in genres" v-bind:value="genre">{{genre.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Language</label>
                    <input class="form-control" v-if="isReadOnly" v-model="currentMovie.language.name" v-bind:readonly="isReadOnly" />
                    <select v-else class="form-control" v-model="currentMovie.language" v-bind:readonly="isReadOnly">
                        <option v-for="language in languages" v-bind:value="language">{{language.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Director</label>
                    <input class="form-control" v-if="isReadOnly" v-model="currentMovie.director.name" v-bind:readonly="isReadOnly" />
                    <select v-else class="form-control" v-model="currentMovie.director" v-bind:readonly="isReadOnly">
                        <option v-for="director in directors" v-bind:value="director">{{director.name}}</option>
                    </select>
                </div>
                <div class="btn-group">
                    <button class="btn btn-warning" v-if="isReadOnly" v-on:click.prevent="toEditMode(true)">Edit</button>
                    <button class="btn btn-warning" v-if="!isReadOnly" v-on:click.prevent="saveMovie">Save</button>
                    <button class="btn btn-primary" v-if="!isReadOnly" v-on:click.prevent="isReadOnly = true">Cancel</button>
                    <button class="btn btn-danger" v-on:click.prevent="deleteMovie">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="col-md-offset-1">
            <div class="alert alert-danger text-xl-center">
                <h4 class="alert-heading">You are not authorized to see this page!</h4>
                <p>Please contact an admin for more info</p>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>

    <script>

        const apiURL = apiBase + movieEndpoint;
        var token = sessionStorage.getItem('jwtToken');
        const axiosConfig = { headers: { Authorization: `Bearer ${token}`, "Content-Type": "application/json" } };

        var app = new Vue({
            el: "#app",
            data: {
                movies: null,
                genres: null,
                languages: null,
                directors: null,
                currentMovie: null,
                isReadOnly: true,
                isEditMode: false,
                feedback: '',
                isAuthorized: true
            },
            created:
                function () {
                    var self = this;
                    console.log(apiBase);
                    self.fetchMovies();
                    self.fetchGenres();
                    self.fetchLanguages();
                    self.fetchDirectors();
                },
            methods: {
                fetchMovies: function () {
                    var self = this;
                    axios
                        .get(apiURL, axiosConfig)
                        .then(function (response) {
                            console.log(token);
                            self.movies = response.data;
                            self.isAuthorized = true;
                        })
                        .catch(function (error) {
                            if (error.response.status === 403 || error.response.status === 401) {
                                self.isAuthorized = false;
                                console.log(error);
                            }
                        });
                },
                fetchGenres: function () {
                    var self = this;
                    axios
                        .get(`${apiBase}${genreEndpoint}`, axiosConfig)
                        .then(function (response) {
                            self.genres = response.data;
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                },
                fetchLanguages: function () {
                    var self = this;
                    axios
                        .get(`${apiBase}${languageEndpoint}`, axiosConfig)
                        .then(function (response) {
                            self.languages = response.data;
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                },
                fetchDirectors: function () {
                    var self = this;
                    axios
                        .get(`${apiBase}${directorEndpoint}`, axiosConfig)
                        .then(function (response) {
                            self.directors = response.data;
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                },
                getMovieDetails: function (movie) {
                    var self = this;
                    self.currentMovie = movie;
                },

                toEditMode: function (isEditMode) {
                    var self = this;
                    self.isReadOnly = false;
                    self.isEditMode = isEditMode;

                    if (!self.isEditMode) {
                        self.currentMovie = {
                            title: "",
                            releaseYear: "",
                            description: "",
                            genre: "",
                            language: "",
                            director: ""
                        }
                    }
                },

                saveMovie: function () {
                    var self = this;

                    let movieToSend = {
                        id: self.currentMovie.id,
                        title: self.currentMovie.title,
                        releaseYear: parseInt(self.currentMovie.releaseYear),
                        description: self.currentMovie.description,
                        image: "no image at the moment",
                        genreId: self.currentMovie.genre.id,
                        languageId: self.currentMovie.language.id,
                        directorId: self.currentMovie.director.id
                    }

                    if (self.isEditMode) {
                        var url = `${apiURL}`;
                        axios.put(url, movieToSend, axiosConfig)
                            .then(function (response) {
                                self.feedback = `Movie ${self.currentMovie.title} has been modified`;
                            })
                            .catch(function (error) {
                                if (error.response.status === 403 || error.response.status === 401) {
                                    self.feedback = `You are not authorized to modify a movie`;
                                    console.log(error);
                                }
                            })
                            .then(function () {
                                self.isReadOnly = true;
                                setTimeout(function () { self.feedback = null; }, 3000);
                            });
                    }
                    else {
                        var url = `${apiURL}`;
                        axios.post(url, movieToSend, axiosConfig)
                            .then(function (response) {
                                self.feedback = `Movie ${self.currentMovie.title} has been created`;
                                self.movies.push(self.currentMovie); // update movies
                            })
                            .catch(function (error) {
                                if (error.response.status === 403 || error.response.status === 401) {
                                    self.feedback = `You are not authorized to create a movie`;
                                    console.log(error);
                                }
                            })
                            .then(function () {
                                self.isReadOnly = true;
                                setTimeout(function () { self.feedback = null; }, 3000);
                            });
                    }
                },
                deleteMovie: function () {
                    var self = this;
                    var url = `${apiURL}/${self.currentMovie.id}`;

                    axios.delete(url, axiosConfig)
                        .then(function (response) {
                            self.movies.forEach(function (movie, i) {
                                if (movie.id === self.currentMovie.id) {
                                    self.movies.splice(i, 1); // update movies
                                    self.currentMovie = {
                                        title: "",
                                        releaseYear: "",
                                        description: "",
                                        genre: "",
                                        language: "",
                                        director: ""
                                    }
                                    self.feedback = `Movie ${self.currentMovie.title} has been deleted`;
                                    setTimeout(function () { self.feedback = null; }, 3000);
                                }
                            })
                        })
                        .catch(function (error) {
                            if (error.response.status === 403 || error.response.status === 401) {
                                self.feedback = `You are not authorized to delete a movie`;
                                console.log(error);
                            }
                            console.error(error);
                        })
                },
            }
        });
    </script>
}